---
layout: page
title: Registration
---

{% include description.html data = site.data.registration %}

<div class="section">
  <div class="center">
    <div class="col s8 offset-s2">
      <div class="icon-block">
        {% assign btn = site.data.registration.form_button %}
        <a href="{{ btn.url | relative_url }}" class="custom-button waves-effect">
          <span class="button-text">{{ btn.text }}</span>
          {% if btn.icon %}
          <i class="material-icons right">{{ btn.icon }}</i>
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</div>

{% include cards.html data = site.data.registration %}
{% include sections.html data = site.data.registration %}

<div class="section fade-in">
  <div class="center">
    <div class="col s8 offset-s2">
      <div class="icon-block">
        {% assign btn = site.data.registration.form_button %}
        <a href="{{ btn.url | relative_url }}" class="custom-button waves-effect">
          <span class="button-text">{{ btn.text }}</span>
          {% if btn.icon %}
          <i class="material-icons right">{{ btn.icon }}</i>
          {% endif %}
        </a>
      </div>
      <p style="margin: 3rem;"> </p>
    </div>
  </div>
</div>