<div class="schedule-container">
    {% for day in site.data.schedule %}
    <div class="schedule-card fade-in">
        <div class="day-decorator-top">
            <i class="material-icons">event</i>
            <span class="day-title">{{ day.day }}</span>
        </div>

        {% for slot in day.slots %}
        {% assign is_last = forloop.last %}
        <div class="schedule-slot{% if is_last %} last-slot{% endif %}{% if slot.open %} open-slot{% endif %}">

            <div class="slot-meta">
                <span class="slot-time">
                    <i class="material-icons icon-time">access_time</i> {{ slot.time }}
                </span>
                {% if slot.place %}
                <span class="slot-place">
                    <i class="material-icons icon-place">place</i>
                    {% if slot.place.url %}
                    <a href="{{ slot.place.url | relative_url }}">{{ slot.place.name }}</a>
                    {% else %}
                    {{ slot.place.name }}
                    {% endif %}
                </span>
                {% endif %}
            </div>

            <!-- <div class="slot-title">{{ slot.title }}
                {% if slot.open %}
                <span class="open-badge">
                    <i class="material-icons">lightbulb</i> Open
                </span>
                {% endif %}
            </div> -->

            <div class="slot-title-with-badge">
                <span class="slot-title-text">{{ slot.title }}</span>

                {% if slot.open %}
                <span class="open-badge">
                    <i class="material-icons">lightbulb</i> Open to all students
                </span>
                {% endif %}
            </div>

            {% if slot.open_description %}
            <div class="open-description-container">
                <p class="open-description">{{ slot.open_description }}</p>
            </div>
            {% endif %}

            <div class="slot-description">{{ slot.description | safe}}</div>
            {% if slot.descriptions %}
            <ul class="slot-descriptions">
                {% for desc in slot.descriptions %}
                <li>{{ desc | safe}}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if slot.substeps %}
            <ul class="slot-substeps">
                {% for step in slot.substeps %}
                <li class="substep">
                    <div class="substep-icon-wrapper">
                        <i class="material-icons">arrow_right</i>
                    </div>
                    <div class="substep-text">
                        <div class="substep-title-row">
                            <span class="substep-title">{{ step.title }}</span>
                        </div>
                        {% if step.description %}
                        <div class="substep-description">{{ step.description }}</div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if slot.speakers and slot.speakers.size > 0 %}
            <div class="speakers">
                {% for speaker in slot.speakers %}
                <a href="{{ '/speakers/#' | append: speaker.id | relative_url }}" class="speaker-card-link">
                    <div class="speaker-card" id="speaker-{{ speaker.id }}">
                        {% if speaker.photo %}
                        <div class="speaker-image-container">
                            <img src="{{ speaker.photo | relative_url }}" alt="{{ speaker.name }}"
                                class="speaker-image" />
                        </div>
                        {% endif %}
                        <div class="speaker-info">
                            <div class="speaker-name">{{ speaker.name }}</div>
                            <div class="speaker-description">{{ speaker.description }}</div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}

            {% if slot.note %}
            <div class="note-description">{{ slot.note | safe}}</div>
            {% endif %}

            <div class="slot-line"></div>

        </div>
        {% endfor %}
        <div class="day-decorator-bottom"></div>
    </div>
    {% endfor %}
</div>