{% comment %} _includes/schedule-day.html {% endcomment %}

<div class="container">
    <div class="schedule-list">
        {% for day in site.data.schedule %}
        <div class="card schedule-card z-depth-2 fade-in">
            <div class="card-content">
                <h4 class="schedule-day-header blue-text text-darken-3">{{ day.day }}</h4>
                <div class="divider"></div>

                {% for slot in day.slots %}
                <div class="time-slot">
                    <div class="slot-header">
                        <div class="slot-time grey-text text-darken-1">
                            <i class="material-icons tiny">schedule</i> {{ slot.time }}
                        </div>
                        <div class="slot-location grey-text text-darken-1">
                            <i class="material-icons tiny">location_on</i> {{ slot.place }}
                        </div>
                    </div>

                    <div class="slot-title">{{ slot.activity }}</div>
                    {% if slot.description %}
                    <p class="slot-description grey-text">{{ slot.description }}</p>
                    {% endif %}

                    {% if slot.speakers %}
                    <div class="speakers">
                        {% for speaker in slot.speakers %}
                        <div class="card speaker-card z-depth-1">
                            <div class="speaker-content">
                                <div class="speaker-image">
                                    <img src="{{ speaker.image }}" alt="{{ speaker.name }}">
                                </div>
                                <div class="speaker-details">
                                    <h6 class="black-text">{{ speaker.name }}</h6>
                                    <p class="grey-text">{{ speaker.role }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="slot-divider"></div>
                </div>
                {% endfor %}
            </div>
            <div class="card-action"></div>
        </div>
        {% endfor %}
    </div>
</div>